/* Importing fonts from Google */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

.navbar-brand {
  font-size: 40px;
  font-weight: bolder;
  color: white;
}
.navbar {
  position: relative !important;
}
.expansion {
  position: relative;
}

.expansion {
  position: relative;
  size: 237px;
}
.dropdown-item {
  color: rgb(32, 30, 30);
  background-color: #ffffff;
}

.container-fluid {
  padding-left: 10px;
  padding-right: 10px;
}
.nav-item {
  font-weight: bold;
}
.nav-item :hover {
  color: #000000;
}

a:hover {
  color: white;
}

.nav-link {
  color: white;
}
.break {
  padding: 10px;
}

.col-md-8 {
  text-align: left;
  font-size: 16px;
}

.col-md-4 img {
  padding-left: 90px;
  padding-top: 20px;
}

@media only screen and (max-width: 480px) {
  .text-uppercase {
    display: none;
  }
  .content p {
    display: none;
  }

  .col-lg-3 img {
    display: none;
  }
}

@media only screen and (max-width: 960px) {
  .content {
    font-size: 32px;
  }
  .text-uppercase {
    font-size: 38px;
  }
  .content p {
    display: none;
  }
}

/* second card section  */

body {
  color: #868686;
  background-color: #fafafa;
  opacity: 1;

  background-size: 200px 200px, 200px 200px, 100px 100px, 100px 100px;
  overflow: scroll;
}

.fs-2 fw-bold {
  color: #c21e1e !important;
}

.ps-lg {
  background-color: #ffffff;
}

a {
  cursor: pointer;
}

p {
  padding-bottom: 1rem;
}

h5 {
  font-weight: bold;
  color: #2b2b2b;
}

.box-shadow {
  -webkit-box-shadow: 0 1px 1px rgba(72, 78, 85, 0.6);
  box-shadow: 0 1px 1px rgba(45, 16, 99, 0.6);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.lead {
  text-align: justify !important;
  line-height: 1.8;
  font-size: 18px;
}

.box-shadow:hover {
  -webkit-box-shadow: 0 20px 40px rgba(72, 78, 85, 0.6);
  box-shadow: 0 20px 40px rgba(72, 78, 85, 0.6);
  -webkit-transform: translateY(-15px);
  -moz-transform: translateY(-15px);
  -ms-transform: translateY(-15px);
  -o-transform: translateY(-15px);
  transform: translateY(-15px);
}

.card {
  border-radius: 25px;
}

.card img {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.card svg {
  position: absolute;
  top: 19rem;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  filter: drop-shadow(2px -9px 4px #00458633);
}
.card:hover svg {
  filter: drop-shadow(2px -9px 4px rgba(0, 69, 134, 0.4));
}

i {
  position: absolute;
  top: 18rem;
  right: 2rem;
  color: white;
  font-size: 3rem;
  background: rgb(238, 174, 202);
  background: linear-gradient(
    133deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(211, 210, 231, 1) 19%,
    rgba(11, 39, 73, 1) 100%
  );
  padding: 1rem;
  border-radius: 100%;
  transition: all 0.6s ease-in-out;
}

.card:hover i {
  transform: rotate(-180deg);
}

i:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.7) 0px 18px 36px -18px inset;
}

/* newsletter , footer*/

h1,
h2,
h3,
h4,
h5,
h6 {
}
a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  outline: none;
}

a,
a:active,
a:focus {
  color: #333;
  text-decoration: none;
  transition-timing-function: ease-in-out;
  -ms-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
  -ms-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
}

ul {
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
  height: auto;
}
section {
  padding: 50px 0;
  /* min-height: 100vh;*/
}
.footer {
  background: #252e67;
  padding-top: 80px;
  padding-bottom: 40px;
}
/*END FOOTER SOCIAL DESIGN*/
.single_footer {
}
@media only screen and (max-width: 768px) {
  .single_footer {
    margin-bottom: 30px;
  }
}
.single_footer h4 {
  color: #fff;
  margin-top: 0;
  margin-bottom: 25px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 20px;
}
.single_footer h4::after {
  content: "";
  display: block;
  height: 2px;
  width: 40px;
  background: #fff;
  margin-top: 20px;
}
.single_footer p {
  color: #fff;
}
.single_footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.single_footer ul li {
}
.single_footer ul li a {
  color: #fff;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  line-height: 36px;
  font-size: 15px;
  text-transform: capitalize;
}
.single_footer ul li a:hover {
  color: #ff3666;
}

.single_footer_address {
}
.single_footer_address ul {
}
.single_footer_address ul li {
  color: #fff;
}
.single_footer_address ul li span {
  font-weight: 400;
  color: #fff;
  line-height: 28px;
}
.contact_social ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}

/*START NEWSLETTER CSS*/
.subscribe {
  display: block;
  position: relative;
  margin-top: 15px;
  width: 100%;
}
.subscribe__input {
  background-color: #fff;
  border: medium none;
  border-radius: 5px;
  color: #333;
  display: block;
  font-size: 15px;
  font-weight: 500;
  height: 60px;
  letter-spacing: 0.4px;
  margin: 0;
  padding: 0 150px 0 20px;
  text-align: center;
  text-transform: capitalize;
  width: 100%;
}
@media only screen and (max-width: 768px) {
  .subscribe__input {
    padding: 0 50px 0 20px;
  }
}

.subscribe__btn {
  background-color: transparent;
  border-radius: 0 25px 25px 0;
  color: #252e67;
  cursor: pointer;
  display: block;
  font-size: 20px;
  height: 60px;
  position: absolute;
  right: 0;
  top: 0;
  width: 60px;
}
.subscribe__btn i {
  transition: all 0.3s ease 0s;
}
@media only screen and (max-width: 768px) {
  .subscribe__btn {
    right: 0px;
  }
}

.subscribe__btn:hover i {
  color: #ff3666;
}
button {
  padding: 0;
  border: none;
  background-color: transparent;
  -webkit-border-radius: 0;
  border-radius: 0;
}
/*END NEWSLETTER CSS*/

.copyright {
  margin-top: 70px;
  padding-top: 40px;
  color: #fff;
  font-size: 15px;
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  text-align: center;
}
.copyright a {
  color: #01c7e9;
  transition: all 0.2s ease 0s;
}
.copyright a:hover {
  color: #ff3666;
}

.responsive {
  width: 100%;
  height: auto;
}

@media only screen and (max-width: 1080px) {
  .container-fluid {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media only screen and (max-width: 640px) {
  .card-img-top {
    display: none;
  }
}

@media only screen and (max-width: 640px) {
  .lead {
    font-size: 14px !important;
  }
}

.container-fluid {
  position: relative !important;
  max-width: 100%; /* Maximum width */
  margin: 0 auto; /* Center it */
}

.container-fluid .content {
  position: absolute; /* Position the background text */
  bottom: 10%; /* At the bottom. Use top:0 to append it to the top */
  top: 10%;
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1; /* Grey text */
  width: 98%; /* Full width */
  padding: 80px; /* Some padding */
}
.content h1 {
  padding: 50px;
  position: relative;
  font-weight: 700;
  text-align: center;
  line-height: 60px;
  top: 50px;
}
.content p {
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
}

.sidenavbar col-sm-3 {
  position: relative;
  height: auto;
}

h1 span {
  color: #ff3666;
}

/*   contact  */

.contact {
  padding: 4%;
  height: 400px;
}
.col-md-3 {
  background: #252e67;
  padding: 2%;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  color: ;
}
.contact-info {
  margin-top: 10%;
}
.contact-info img {
  margin-bottom: 15%;
}
.contact-info h2 {
  margin-bottom: 10%;
}
.col-md-9 {
  background: #fff;
  padding: 3%;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
.contact-form label {
  font-weight: 600;
}
.contact-form button {
  background: #252e67;
  color: #fff;
  font-weight: 600;
  width: 25%;
}
.contact-form button:focus {
  box-shadow: none;
}

.container-contact {
  padding: 130px;
}

@media only screen and (max-width: 640px) {
  .container-contact {
    padding: 20px;
  }
}

@media only screen and (max-width: 640px) {
  .col-md-3 {
    background: #252e67;
    padding: 20px;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
  }
  .col-md-3 img {
    display: none;
  }
}

/*    registration   */

/* Importing fonts from Google */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

/* Reseting */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
}

.wrapper {
  max-width: 450px;
  margin: 50px auto;
  padding: 20px 30px;
  min-height: 300px;
  background-color: #ffffff27;
  border-top: 1px solid #ffffff6e;
  border-left: 1px solid #ffffff6e;
  border-radius: 15px;
}

.wrapper .h5 {
  color: #ddd;
}

.wrapper .form-group {
  border-bottom: 1px solid #ccc;
  margin-bottom: 1.5rem;
}

.wrapper .form-group:hover {
  border-bottom: 1px solid #eee;
}

.wrapper .form-group .icon {
  color: #e8e8e8;
}

.wrapper .form-group .form-control {
  background: inherit;
  border: none;
  border-radius: 0px;
  box-shadow: none;
  color: #e9e9e9;
}

.wrapper .form-group input::placeholder {
  color: #ccc;
}

.wrapper .form-group input:focus::placeholder {
  opacity: 0;
}

.wrapper .form-group .fa-phone {
  transform: rotate(90deg);
}

.wrapper .option {
  color: #ccc;
  display: block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 12px;
  cursor: pointer;
  user-select: none;
}

.wrapper .option:hover {
  color: #eee;
}

.wrapper .option input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.wrapper .checkmark {
  position: absolute;
  top: 3px;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: inherit;
  border: 2px solid #ccc;
  border-radius: 2px;
}

.wrapper .option input:checked ~ .checkmark {
  transition: 300ms ease-in-out all;
}

.wrapper .checkmark:after {
  content: "\2713";
  position: absolute;
  display: none;
  font-weight: 600;
  color: #fff;
  font-size: 0.9rem;
}

.wrapper .option input:checked ~ .checkmark:after {
  display: block;
}

.wrapper .option .checkmark:after {
  left: 2px;
  top: -4px;
  width: 5px;
  height: 10px;
}

.wrapper .btn.btn-primary {
  position: relative;
  color: #eee;
  padding: 0.3rem 1rem;
  border-radius: 20px;
  border: 1px solid #ddd;
  background-color: inherit;
  box-shadow: none;
  overflow: hidden;
}

.wrapper .btn.btn-primary:hover {
  background-color: #b4b4b433;
  color: #fff;
}

.wrapper .terms {
  color: #bbb;
  font-size: 0.85rem;
  text-align: center;
}

.wrapper .terms a {
  text-decoration: none;
  color: #eee;
}

.wrapper .terms a:hover {
  color: #fff;
}

.wrapper .connect {
  position: relative;
}

.wrapper .connect::after {
  content: "or";
  position: absolute;
  top: -12px;
  width: 80px;
  left: 39%;
  text-align: center;
  color: #eee;
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.315);
  background-color: #252e67;
}

.wrapper .social-links {
  margin-top: 50px;
  position: relative;
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.wrapper .social-links li a {
  font-size: 1.2rem;
  width: 50px;
  height: 50px;
  background-color: #ffffff17;
  border: 1px solid #ffffff66;
  border-right: 1px solid #ffffff33;
  border-bottom: 1px solid #ffffff33;
  display: flex;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  color: #fff;
  border-radius: 6px;
  box-shadow: 0 5px 30px #252e67;
  transition: 0.5s;
  overflow: hidden;
}

.wrapper .social-links li a:hover {
  transform: translateY(-20px);
}

.wrapper .social-links li a::before,
.wrapper .btn.btn-primary::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 25px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.6);
  transform: skew(45deg) translateX(130px);
  transition: 0.5s;
  opacity: 0;
}

.wrapper .social-links li a:hover:before,
.wrapper .btn.btn-primary:hover::before {
  opacity: 1;
  transform: skew(45deg) translateX(-130px);
}

@media (max-width: 460px) {
  .wrapper {
    margin: 15px;
    padding: 20px;
  }

  .wrapper .connect::after {
    left: 38%;
  }
}

@media (max-width: 345px) {
  .wrapper .connect::after {
    left: 32%;
  }
}

/*    registration2   */

.form-group {
  padding-bottom: 10px;
  color: #252e67;
}
.dropbtn {
  background-color: #252e67;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #252e67;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #252e67;
}
.panel-heading {
  background-color: #252e67;
  color: white;
}
.container {
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;
}

/*   editorial board   */

.our-team {
  padding: 40px 0 30px;

  background: #c2bdbd;
  text-align: center;
  overflow: hidden;
  position: relative;
  border-bottom: 20px solid #f3f9ff;
}
.our-team:hover {
  border-bottom: 5px solid #f1eaea;
}

.our-team .pic {
  display: inline-block;
  width: 130px;
  height: 130px;
  margin-bottom: 50px;
  z-index: 1;
  position: relative;
}
.our-team .pic:before {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #00325a;
  position: absolute;
  bottom: 135%;
  right: 0;
  left: 0;
  opacity: 1;
  transform: scale(3);
  transition: all 0.3s linear 0s;
}
.our-team:hover .pic:before {
  height: 100%;
  background: #2f2f2f;
}
.our-team .pic:after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #ffffff00;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  transition: all 0.3s linear 0s;
}
.our-team:hover .pic:after {
  background: #ffb623e0;
}
.our-team .pic img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  transform: scale(1);
  transition: all 0.9s ease 0s;
  box-shadow: 0 0 0 14px #f7f5ec;
  transform: scale(0.7);
  position: relative;
  z-index: 2;
}
.our-team:hover .pic img {
  box-shadow: 0 0 0 14px #f7f5ec;
  transform: scale(0.7);
}
.our-team .team-content {
  margin-bottom: 30px;
}
.our-team .title {
  font-size: 22px;
  font-weight: 700;
  color: #4e5052;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin-bottom: 5px;
}
.our-team .post {
  display: block;
  font-size: 15px;
  color: #4e5052;
  text-transform: capitalize;
}

@media only screen and (max-width: 990px) {
  .our-team {
    margin-bottom: 30px;
  }
}

/*  reg  */

.card-registration .select-input.form-control[readonly]:not([disabled]) {
  font-size: 1rem;
  line-height: 2.15;
  padding-left: 0.75em;
  padding-right: 0.75em;
}
.card-registration .select-arrow {
  top: 13px;
}

/* UPLOAD FILES  */

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

#heading {
  text-transform: uppercase;
  color: #252e67;
  font-weight: normal;
}

#msform {
  text-align: center;
  position: relative;
  margin-top: 20px;
}

#msform fieldset {
  background: white;
  border: 0 none;
  border-radius: 0.5rem;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding-bottom: 20px;
  position: relative;
}

.form-card {
  text-align: left;
}

#msform fieldset:not(:first-of-type) {
  display: none;
}

#msform input,
#msform textarea {
  padding: 8px 15px 8px 15px;
  border: 1px solid #ccc;
  border-radius: 0px;
  margin-bottom: 25px;
  margin-top: 2px;
  width: 100%;
  box-sizing: border-box;
  font-family: montserrat;
  color: #2c3e50;
  background-color: #eceff1;
  font-size: 16px;
  letter-spacing: 1px;
}

#msform input:focus,
#msform textarea:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: 1px solid #252e67;
  outline-width: 0;
}

#msform .action-button {
  width: 100px;
  background: #252e67;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 0px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 0px 10px 5px;
  float: right;
}

#msform .action-button:hover,
#msform .action-button:focus {
  background-color: #311b92;
}

#msform .action-button-previous {
  width: 100px;
  background: #616161;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 0px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px 10px 0px;
  float: right;
}

#msform .action-button-previous:hover,
#msform .action-button-previous:focus {
  background-color: #000000;
}

.card {
  z-index: 0;
  border: none;
  position: relative;
}

.fs-title {
  font-size: 25px;
  color: #252e67;
  margin-bottom: 15px;
  font-weight: normal;
  text-align: left;
}

.purple-text {
  color: #252e67;
  font-weight: normal;
}

.steps {
  font-size: 25px;
  color: gray;
  margin-bottom: 10px;
  font-weight: normal;
  text-align: right;
}

.fieldlabels {
  color: gray;
  text-align: left;
}

#progressbar {
  margin-bottom: 30px;
  overflow: hidden;
  color: lightgrey;
}

#progressbar .active {
  color: #252e67;
}

#progressbar li {
  list-style-type: none;
  font-size: 15px;
  width: 25%;
  float: left;
  position: relative;
  font-weight: 400;
}

#progressbar #account:before {
  font-family: FontAwesome;
  content: "\f13e";
}

#progressbar #personal:before {
  font-family: FontAwesome;
  content: "\f007";
}

#progressbar #payment:before {
  font-family: FontAwesome;
  content: "\f030";
}

#progressbar #confirm:before {
  font-family: FontAwesome;
  content: "\f00c";
}

#progressbar li:before {
  width: 50px;
  height: 50px;
  line-height: 45px;
  display: block;
  font-size: 20px;
  color: #ffffff;
  background: lightgray;
  border-radius: 50%;
  margin: 0 auto 10px auto;
  padding: 2px;
}

#progressbar li:after {
  content: "";
  width: 100%;
  height: 2px;
  background: lightgray;
  position: absolute;
  left: 0;
  top: 25px;
  z-index: -1;
}

#progressbar li.active:before,
#progressbar li.active:after {
  background: #252e67;
}

.progress {
  height: 20px;
}

.progress-bar {
  background-color: #252e67;
}

.fit-image {
  width: 100%;
  object-fit: cover;
}
/* UPLOAD FILES END */
